<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Projet_Jee 2023</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>Controller</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/projet2022/*</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Con</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Acceil</display-name>
    <servlet-name>Acceil</servlet-name>
    <servlet-class>SR.Acceil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceil</servlet-name>
    <url-pattern>/Con</url-pattern>
  </servlet-mapping>
  
  
  <!--  _admin filter  -->
  
  <filter>
    <display-name>_Adminfilter</display-name>
    <filter-name>_Adminfilter</filter-name>
    <filter-class>filters.Adminfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>_Adminfilter</filter-name>
    <url-pattern>/projet2022/admin/*</url-pattern>
  </filter-mapping>
</web-app>